In [1]:
import pandas as pd

# Load the datasets into DataFrames
sales_file_path = 'E:\IDS/sales.csv'
customers_file_path = 'E:\IDS/customers.csv'

sales_df = pd.read_csv(sales_file_path)
customers_df = pd.read_csv(customers_file_path)

#TASK 01

sales_head = sales_df.head()
customers_head = customers_df.head()

# Show the total number of rows and columns 
sales_shape = sales_df.shape
customers_shape = customers_df.shape

# Check for missing values in each dataset
sales_missing = sales_df.isnull().sum()
customers_missing = customers_df.isnull().sum()

(sales_head, customers_head, sales_shape, customers_shape, sales_missing, customers_missing)

(   SaleID  CustomerID     Product  Amount
 0     101           1      Laptop     200
 1     102           2  Smartphone     500
 2     103           3      Tablet     800
 3     104           4  Headphones    1100
 4     105           5     Monitor    1400,
    CustomerID  Age         City
 0           1   22     New York
 1           2   23  Los Angeles
 2           3   24      Chicago
 3           4   25      Houston
 4           5   26      Phoenix,
 (400, 4),
 (100, 3),
 SaleID        0
 CustomerID    0
 Product       0
 Amount        0
 dtype: int64,
 CustomerID    0
 Age           0
 City          0
 dtype: int64)

In [2]:
#TASK 02

# Convert the customers DataFrame into a dictionary
customers_dict = customers_df.to_dict(orient='records')

# Filter customers from a specific city (e.g., 'Houston') using the dictionary
filtered_dict_customers = [customer for customer in customers_dict if customer['City'] == 'Houston']

# Filter customers from the same city using the DataFrame
filtered_df_customers = customers_df[customers_df['City'] == 'Houston']

(filtered_dict_customers, filtered_df_customers)

([{'CustomerID': 4, 'Age': 25, 'City': 'Houston'},
  {'CustomerID': 9, 'Age': 30, 'City': 'Houston'},
  {'CustomerID': 14, 'Age': 35, 'City': 'Houston'},
  {'CustomerID': 19, 'Age': 40, 'City': 'Houston'},
  {'CustomerID': 24, 'Age': 45, 'City': 'Houston'},
  {'CustomerID': 29, 'Age': 50, 'City': 'Houston'},
  {'CustomerID': 34, 'Age': 25, 'City': 'Houston'},
  {'CustomerID': 39, 'Age': 30, 'City': 'Houston'},
  {'CustomerID': 44, 'Age': 35, 'City': 'Houston'},
  {'CustomerID': 49, 'Age': 40, 'City': 'Houston'},
  {'CustomerID': 54, 'Age': 45, 'City': 'Houston'},
  {'CustomerID': 59, 'Age': 50, 'City': 'Houston'},
  {'CustomerID': 64, 'Age': 25, 'City': 'Houston'},
  {'CustomerID': 69, 'Age': 30, 'City': 'Houston'},
  {'CustomerID': 74, 'Age': 35, 'City': 'Houston'},
  {'CustomerID': 79, 'Age': 40, 'City': 'Houston'},
  {'CustomerID': 84, 'Age': 45, 'City': 'Houston'},
  {'CustomerID': 89, 'Age': 50, 'City': 'Houston'},
  {'CustomerID': 94, 'Age': 25, 'City': 'Houston'},
  {'CustomerID': 99, 'Age': 30, 'City': 'Houston'}],
     CustomerID  Age     City
 3            4   25  Houston
 8            9   30  Houston
 13          14   35  Houston
 18          19   40  Houston
 23          24   45  Houston
 28          29   50  Houston
 33          34   25  Houston
 38          39   30  Houston
 43          44   35  Houston
 48          49   40  Houston
 53          54   45  Houston
 58          59   50  Houston
 63          64   25  Houston
 68          69   30  Houston
 73          74   35  Houston
 78          79   40  Houston
 83          84   45  Houston
 88          89   50  Houston
 93          94   25  Houston
 98          99   30  Houston)

In [3]:
#TASK 03

# Check for duplicates in the sales and customers datasets
sales_duplicates = sales_df.duplicated().sum()
customers_duplicates = customers_df.duplicated().sum()

# Remove duplicates
sales_df_cleaned = sales_df.drop_duplicates()
customers_df_cleaned = customers_df.drop_duplicates()

# Verify that there are no duplicates left
sales_duplicates_after = sales_df_cleaned.duplicated().sum()
customers_duplicates_after = customers_df_cleaned.duplicated().sum()

(sales_duplicates, customers_duplicates, sales_duplicates_after, customers_duplicates_after)

(np.int64(0), np.int64(0), np.int64(0), np.int64(0))

In [4]:
# TASK 04

# Add a new column with a 10% discount applied to the Amount column
sales_df_cleaned['Discounted_Amount'] = sales_df_cleaned['Amount'] * 0.9

# Group the data by Product and calculate total sales for each product
product_sales_summary = sales_df_cleaned.groupby('Product')['Discounted_Amount'].sum().reset_index()
product_sales_summary.rename(columns={'Discounted_Amount': 'Total_Sales'}, inplace=True)

sales_head_with_discount = sales_df_cleaned.head()
product_sales_summary

      Product  Total_Sales
0  Headphones      79200.0
1      Laptop      14400.0
2     Monitor     100800.0
3  Smartphone      36000.0
4      Tablet      57600.0

In [5]:
#TASK 05

#Filter Customers by Age Range
filtered_customers = customers_df[(customers_df['Age'] >= 25) & (customers_df['Age'] <= 35)]

#Count Customers by City
customers_by_city = filtered_customers.groupby('City').size().reset_index(name='Customer_Count')
print(customers_by_city)

          City  Customer_Count
0      Chicago               7
1      Houston              11
2  Los Angeles               7
3     New York               7
4      Phoenix               8

In [6]:
#TASK 06

merged_data = pd.merge(customers_df, sales_df, on='CustomerID')

#Identify the city that generated the highest total sales.
city_sales = merged_data.groupby('City')['Amount'].sum().reset_index()
top_city = city_sales.loc[city_sales['Amount'].idxmax()]
print(f"City with highest sales: {top_city}")

#Find the product with the most units sold
product_units = merged_data.groupby('Product').size().reset_index(name='Units_Sold')
top_product = product_units.loc[product_units['Units_Sold'].idxmax()]
print(f"Product with most units sold: {top_product}")

City with highest sales: City      Phoenix
Amount     112000
Name: 4, dtype: object
Product with most units sold: Product       Headphones
Units_Sold            80
Name: 0, dtype: object

In [7]:
#TASK 07

# Merge customers.csv and sales.csv on CustomerID
merged_data = pd.merge(customers_df_cleaned, sales_df_cleaned, on='CustomerID')

# Display unique values in the City and Product columns
unique_cities = merged_data['City'].unique()
unique_products = merged_data['Product'].unique()

# Calculate the mean and median of the Amount column
amount_mean = merged_data['Amount'].mean()
amount_median = merged_data['Amount'].median()

(unique_cities, unique_products, amount_mean, amount_median)

(array(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
       dtype=object),
 array(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Monitor'],
       dtype=object),
 np.float64(800.0),
 np.float64(800.0))